body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: 'Poppins';
  color: #2C3230;
}

.primary-background {
  background-color: white;
}
.primary-text-color {
  color: #2C3230;
}
.primary-border-color {
  border-color: #BC0100;
}
.primary-background-color {
  background-color: #BC0100;
}
.secondary-text-color {
  color: black;
}
.secondary-border-color {
  border-color: #D9DADE;
}

h1 {
  font-family: 'Signika';
  font-size: 40px;
}
